*{
    margin:0;
    padding:0;
  
    box-sizing:border-box;
  }
  
  body{
    background: lightpink;
    font-family:'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;

  }
  h1 {
    text-align: center;
    font-style: comic;
    font-weight: bold;
    color: white;

  }
  li{
    list-style:none;
  }
  
  header{
    width: 100%;
    height: 50px;
  
    background: rgb(209, 198, 239);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    box-shadow: 1px 0 3px white (0,0,0,0.4);
  }
  
  .main{
    max-width: 900px;
    margin: 0 auto;
  }
  
  div.newPost{
    width:100%;
    height: 240px;
  
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 0;
    padding:25px;
  
    background:#fff;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #5ca0d7 (0,0,0,0.05);
  }
  
  div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.newPost div.infoUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: gray;
  }
  
  div.newPost div.infoUser strong{
    font-size: 16px;
    color: #5ca0d7;
    margin-left: 10px;
  }
  
  div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  div.newPost form.formPost textarea{
    background: #fbfbfb;
    margin:15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    border: 0;
    height: 90px;
    outline: none;
  
    font-weight: bold;
    color:#727272;
    font-family: 'Roboto', sans-serif;
    border:2px solid #fff;
  }
  div.newPost form.formPost textarea:focus{
    border:2px solid #5ca0d7;
  
  }
  div.newPost form.formPost div.iconsAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div.newPost form.formPost div.iconsAndButton div.icons button{
    outline: none;
    margin-right: 15px;
    border:0;
    background: #fff;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.newPost form.formPost div.iconsAndButton button.btnSubmitForm{
    background: #5ca0d7;
    padding: 10px 50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
  
    border: 0;
    border-radius: 10px;
    transition: 0.2s;
    background: #5ca0d7;
  }